a {
    border-radius: 0 !important;
}

a.remove {
    background: darkgrey;
    border-color: darkgrey;
}

.list {
    overflow-y: auto;
    max-height: 300px;
}

.list, .container {
    margin-top: 30px;
}