<div class="container list">
  <div class="row" ng-repeat="address in $ctrl.list track by $index">
    <a href="#"
      class="col-sm-11 list-group-item list-group-item-action"
      ng-click="$ctrl.onClick({ place: address })"
    >{{address.fullName}}
    </a>
    <a
      class="col-sm-1 remove list-group-item list-group-item-action"
      ng-click="$ctrl.onDelete($index, address._id)"
    >
      X
    </a>
  </div>
</div>