<main>
  <h1 class="title">Hello from Search Place APP !</h1>
  <search place="$ctrl.place" on-search="$ctrl.addAddress(name, fullName, location)"></search>
  <address-list on-click="$ctrl.onClick(place) "list="$ctrl.address"></address-list>
</main>